@charset "UTF-8";
/*
本次项目需要的公共样式开始
*/
.comWidth {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*本次项目需要的公共样式结束*/

.topBar {
    height: 30px;
    background-color: #f7f7f7;
    line-height: 30px;
}

.collect {
    /*↑此处最好用css-sprite，避免重复请求*/
    font-weight: bold;
}
.collect b{
    display: inline-block;
    height: 13px;
    background: url(../images/icon/icon.png)  no-repeat;
    background-position: 0 2px;
    /*↑此处最好用css-sprite，避免重复请求*/
    padding-left: 13px;
}

/*logo搜索框购物车样式开始*/
.logoBar {
    height: 85px;
    background-color: #1d7ad9;
}

.logo {
    padding-left: 40px;
    padding-top: 13px;
}

.search_box {
    width: 430px;
    padding-top: 23px;
    padding-left: 180px;

}

/*搜索框↓*/
.search_text {
    width: 350px;
    height: 35px;
    padding: 0 5px;
}

.search_btn {
    width: 70px;
    height: 35px;
    font-size: 14px;
    background-color: #ff8c00;
    color: #fff;
    font-weight: bold;
}

.shopCar {
    width: 135px;
    height: 35px;
    background-color: #ff8c00;
    margin-top: 23px;
    color: #fff;
    line-height: 35px;
    margin-right: 59px;
}

.shopText {

    height: 100%;
    width: 87px;
    border-right: 1px solid #e27a00;

    background: url("../images/icon/icon.png")  no-repeat;
    background-position: 5px -20px;
    text-indent: 35px;
}

.shopNum {
    width: 46px;
    height: 35px;
    color: #fff;
    border-left: 1px solid #e27a00;
    background: url("../images/icon/icon.png")  no-repeat;
    background-position: 25px -52px;
    text-indent: 12px;
}

/*logo搜索框购物车样式结束*/

/*导航条nav_box开始*/
.nav_box {
    height: 35px;
    background-color: #1369c0;
    margin-bottom: 15px;

}

.shopClass {
    width: 190px;
    position: relative;

}

.shopClass h3 {
    text-align: center;
    line-height: 35px;

}

/*此处体现功能单一原则，必须避免一个样式包含多种功能*/
.shopClass > h3 > a {
    color: #fff;
}
.shopClass > h3 > a:hover, .shopClass > h3 > a:active {
	color: #eee;
}
.shopClass > h3 a > i {
    display: inline-block;
    width: 13px;
    height: 7px;
    background: url("../images/icon/icon.png")  no-repeat;
    background-position:-18px 0;
    margin-left: 10px;
}

.nav li {
    float: left;
    text-align: center;
}
.nav li > a {
	display: block;
	width: 112px;
	height: 35px;
	color: #fff;
	line-height: 35px;
}
.nav li > a:hover, .nav li > a:active {
	background-color: #4593fd;
}
/*导航条nav_box结束*/

/*商品分类下的下拉列表开始*/
.sub_shop {
    background-color: #4593fd;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
}

.sub_shop a {
    color: #fff;
}

.sub_shop_item {
    padding: 10px;
    border-bottom: 1px solid #3487f2;
    border-top: 1px solid #5aa1fe;
}
.sub_shop_item a:hover, .sub_shop_item a:active {
	color: #eee;
}
.sub_shop_item_active .alinkbg {
    color: #fff;
}

.sub_shop_item > dt {
    font-size: 15px;
    font-weight: bold;
    padding: 0 3px;
}

/*三个通用的场合，用sass较好↓*/
.alinkbg {
    display: inline-block;
    background-color: #106ac0;
    border-radius: 15px;
}

/*通用样式*/
.toRight {
    display: inline-block;
    border: 5px solid transparent;
    border-left-color: #fff;
    margin-left: 25px;
}

/*商品分类下的下拉列表结束*/

/*banner部分开始*/
.banner {
    margin-bottom: 50px;
}

.banner_bar {
    width: 810px;
    height: 350px;
    position: relative;
    overflow: hidden;

}

.img_box {
    width: 1650px;
    position: absolute;
    left: 0;
    top: 0;

}

.img_box li {
    float: left;
}

.img_box img {

}

/*图片滑动的图标*/
.img_num {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.img_num > a {
    width: 20px;
    height: 5px;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;

}

.img_num .active {
    background-color: #e27a00;
}

/*banner部分结束*/

/*shoptitle开始*/
.shop_title {
    height: 44px;
    line-height: 44px;
    margin-bottom: 15px;

}

.shop_title h3 {
    font-size: 24px;
    float: left;
    line-height: 44px;
    padding-left: 15px;
}

.icon {
    width: 44px;
    height: 44px;
    display: inline-block;
    background: url("../images/icon/icon.png")  no-repeat;
    background-position:0 -95px;
    float: left;

}

/*shoptitle结束*/

/*图片滚动*/
#box {
	margin: 0 auto;
	height: 470px;
	padding-right: 10px;
}
.container {
	margin-left: -15px;
	height: 470px;
	/*border-right: 1px solid #ccc;*/
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	position: relative;
}

.container img {
	position: absolute;
	display: block;
	left: 0;
	border-left: 1px solid #ccc;
}
/*图片加商品开始*/
.goods_detail {
    margin-bottom: 15px;
    overflow: hidden;
}

.goods_detail .left_side {
    width: 190px;

}

.goods_detail .right_side {
    width: 810px;

}

.goods_detail .left_side .banner_bar {
    width: 190px;
    height: 400px;
    overflow: hidden;
}

.goods_detail .left_side .banner_bar .img_num {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

/*图片加商品结束*/

/*商品图片价格开始*/
.goods_item {
    box-sizing: border-box;
    width: 200px;
    height: 280px;
    border: 1px solid #ccc;
    padding: 50px 15px 10px;
    text-align: center;

}

.right_side_bottom {
    box-sizing: border-box;
    height: 120px;
    border-bottom: 4px solid #ff7201;
}

.goods_item_small {
    box-sizing: border-box;
    width: 200px;
    height: 115px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 10px;
    padding: 20px 15px;

}

.goods_item_small > .l {
    margin-left: 10px;
}

/*商品图片价格结束*/

/*footer开始*/
footer {
    background-color: #d4d4d4;
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
    margin-top: 30px;
    clear: both;
}

footer img {
    margin: 10px 10px;
}

/*footer结束*/

/*产品分类页productCategory*/
.products > .l {
    width: 185px;
    text-align: center;

}

.products .r {
    width: 810px;
}

/*左侧导航部分开始*/
.left_nav {
    background-color: #f3f3f3;
    border: 1px solid #DDD;
}

.left_nav > h3 {
    border-bottom: 1px solid #ddd;
}

.nav_content {
    border-bottom: 1px dotted #ddd;
    padding-bottom: 5px;
}

.nav_content h3 {
    font-weight: bold;
    text-align: left;
    padding-left: 17px;
}

.nav_content ul li {
    width: 50%;
    float: left;
}

/*左侧导航部分结束*/

/*右侧banner下方开始*/
.all_products .active {
    border-color: #096dba;
}

.products_detail_col {
    border-top: 3px solid #ccc;
}

.products_detail {
    width: 162px;
    padding: 30px 20px 10px;
}

.products_detail .price {
    color: #d4105a;
    font-weight: bold;
}

.products_detail > p > span {
    display: inline-block;
    padding-left: 12px;
    height: 13px;
    background-image: url("../images/icon/icon.png");
    background-position:0 0;
}

.all_products > h2 {
    margin: 10px;
}

.products_detail > p > a {
}

/*右侧banner下方结束*/

/*product_intro页面开始*/
/*公共主体背景色*/
.main_bg {
    background-color: #f0f0f0;
}

/*面包屑开始*/
.breadcrumb {
    font-size: 12px;
}

/*面包屑结束*/

/*product_intro开始*/
.product_intro {
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ccc;

}

.left_pic {
    text-align: center;
}

.left_pic > img {
    margin-top: 20px;
}

.small_intro_pic {
    margin: 20px;
}

.small_intro_pic > a {
    display: inline-block;
    float: left;
    width: 54px;
    height: 54px;
    border: 1px solid #ccc;
}

.small_intro_pic > a:hover {

    border: 1px solid #1d7ad9;
}

/*right_intro图片右侧开始*/

.right_intro {
    width: 650px;
    border-left: 1px solid #ccc;
    padding: 25px 0 25px 20px;
}

.product_info {
    overflow: hidden;
    margin: 10px 0;
}

.product_info ul li {
    float: left;
    margin: 5px 20px;
}

.product_info .low_price li:last-child {
    color: #d4105a;
}

.product_info .low_price li:last-child > span {
    font-size: 25px;
}

.product_info ul > li > i {
    padding-left: 57PX;
    background: url("../images/icon/icon.png")  no-repeat;
    background-position:0 -155px;
    margin-right: 10px;
}

.buy_info_detail {
    background-color: #f2f2f2;
}

.buy_info_detail .product_info select {
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #317ee7;
}

.product_info .btn_color input {
    box-sizing: border-box;
    width: 85px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.product_info .btn_color .active {
    border: 1px solid #317ee7;

}

.product_info .btn_size input {
    box-sizing: border-box;
    width: 75px;
    height: 27px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.product_info .btn_size .active {
    border: 1px solid #317ee7;

}

.product_info .btn_num input[name="minus"] {
    box-sizing: border-box;
    width: 18px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.product_info .btn_num input[name="Num"] {
    box-sizing: border-box;
    width: 52px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
}

.product_info .btn_num input[name="plus"] {
    box-sizing: border-box;
    width: 18px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
}

.product_info .btn_num + span {
    line-height: 45px;
}

.product_info .btn_num + span > b {
    color: #ff7201;
}

.product_info .hasChosen span {
    color: #317ee7;
}

.product_info .btn_buy {
    padding-left: 50px;
}

.product_info .btn_buy button {
    box-sizing: border-box;
    width: 180px;
    height: 40px;
    background-color: #fc8900;
    margin-right: 90px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.product_info .btn_buy button i {
    padding-left: 30px;
    background: url("../images/icon/icon.png")  no-repeat;
    background-position:0px -30px;
}

/*right_intro图片右侧结束*/

/*同价位和看最终买开始*/
.sub_product_intro {
    overflow: hidden;
    margin-top: 15px;
}

.sub_product_intro > .l {
    box-sizing: border-box;
    width: 190px;
    border-top: 3px solid #317ee7;
}

.same_price {
    border: 1px solid #ccc;
}

.same_price > h3 {
    border-bottom: 1px solid #ccc;
    padding-left: 13px;
    font-weight: bold;
}

.see_buy {
    border: 1px solid #ccc;
    margin-top: 15px;
}

.see_buy > h3 {
    border-bottom: 1px solid #ccc;
    padding-left: 13px;
    font-weight: bold;
}

.pic_intro {
    padding: 15px 13px;
    background-color: #fff;
}

.pic_intro > img {
    display: block;
    margin: 0 auto;
}

.pic_intro > a {
    color: #d4105a;
    font-weight: bold;
}

/*同价位和看最终买结束*/
/*product_intro结束*/

/*des_info_content商品介绍和商品评价开始*/
.des_info_content {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 790px;
    float: left;
    margin-left: 18px;
}

.des_title {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.des_info_content img[alt="ad"] {
    display: block;
    margin: 30px auto;
}

.des_title li {
    float: left;
    text-align: center;
    width: 50%;

}

.des_title li a:hover, .des_title li a:focus {
	display: block;
	width: 395px;
    background-color: #0479ca;
    color: #fff;
    font-weight: bold;
}

.des_ad {
    margin: 30px;
}

.des_ad h3 {
    float: left;
    border-bottom: 2px solid #0479ca;
    margin-right: 10px;
}

.des_ad p {
    margin: 20px;
}

.des_ad h3 + p {
    padding-top: 4px;
    border-bottom: 2px solid #ccc;
}

/*des_info_content商品介绍和商品评价结束*/
/*product_intro页面结束*/

/*商品评价页开始*/
/*评分进度条开始*/
.des_title + h3 {
    margin: 10px 0 10px 10px;
}

.score_box {
    margin: 60px 0 0 10px;

}

.score > span {
    display: inline-block;
    font-size: 50px;
    color: #ff8f00;

}

.score > em {
    font-size: 20px;
}

.score_bar {
    position: relative;
}

.score_bar > ul {
    width: 450px;
    background-color: #bdbdbd;
    color: #fff;
    overflow: hidden;
}

.score_bar > ul > li {
    float: left;
    width: 20%;
    text-align: center;
}

.score_bar > span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #7f7f7f;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 15px;
    top: -40px;
}

.score_bar > span > i {
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 7px solid #7f7f7f;
    margin: -3px 0 0 5px;
}

.score_bar p:last-child {
    font-size: 10px;
    margin-bottom: 60px;
}

/*评分进度条结束*/

.clearb {
    background-color: #f0f0f0;
    position: relative;
}

.clearb > ul {
    width: 450px;
}

.clearb > ul li {
    float: left;
    width: 25%;
    text-align: center;
}

.clearb button {

    float: right;
    box-sizing: border-box;
    width: 75px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    margin-top: 3px;

}

.clearb button > i {
    padding-left: 13px;
    background: url("../images/icon/icon.png")  no-repeat;
    background-position:-55px 0;
}

.clearb > img {
    position: absolute;
    top: -10px;
    right: 1px;
}

.clearb > ul .active > a {
    display: inline-block;
    border-bottom: 3px solid #5aa1fe;
}

/*用户评论开始*/
.comment {
    margin: 30px 25px;
}

.comment .about_user {
    text-align: center;
    margin: 0 20px;
}

.comment .about_comments {
    width: 450px;
    margin-left: 20px;
}

.comment .about_comments p:first-child i {
    display: inline-block;
    height: 13px;
    padding-left: 13px;
    margin-right: 3px;

    background: url("../images/icon/icon.png")  no-repeat;
    background-position:0 0;
}

.comment .about_comments p:last-child a {
    color: #088bd3;
}

/*用户评论结束*/

/*商品咨询开始*/
.products_ask {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 790px;
    float: left;
    margin-left: 18px;
    margin-top: 20px;
}

.products_ask .ask_title {
    height: 38px;
    line-height: 37px;
    border-bottom: 1px solid #0688ba;

}

.products_ask .ask_title li {
    float: left;
    text-align: center;
    width: 130px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #0688ba;

}

.products_ask .ask_title li:last-child {

    text-align: center;
    border: none;
    margin-left: 132px;

}

.products_ask .ask_title .active {
    border: 1px solid #0688ba;
    border-bottom: 1px solid #fff;
}

.products_ask .ask_title + p {
    margin: 45px;
    background: #f3f3f3;
    padding-top: 25px;
}

.products_ask > .comment > .about_comments p {
    margin: 0 20px 20px 20px;

}

.products_ask > .comment > .about_comments p:last-child {
    background-color: #f1f1f1;
    padding: 10px;
}

/*商品咨询结束*/

/*商品评价页结束*/


/*登录注册页开始*/
.welcome {
    font-size: 30px;
    color: #fff;
    padding: 30px 0 0 10px;
}

.login {
    width: 460px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 20px auto 80px;
}

.login div {
    width: 310px;
    margin: 40px auto;
}
.login div p{
    margin: 10px ;
}
.login div input[type="button"] {
    width: 310px;
    height: 35px;
    background: linear-gradient(#fff, #ccc);

}
.login div input[type="text"] ,input[type="password"]{
    width: 310px;
    height: 35px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: url("../images/icon/icon.png")  no-repeat;
    background-position:305px -175px;
}
.login div input[type="password"]{

    background: url("../images/icon/icon.png")  no-repeat;
    background-position:305px -208px;
}
.login>input[type="button"]{
    width: 115px;
    height: 30px;
    border-radius: 3px;
    background-color: #7cbe56;
    margin-right: 40px;
    color: #fff;
}
.login .register{
    width: 410px;
    margin: 40px auto;
}
.login .register p >input{
    width: 270px;

}
.login .register p {
text-align: right;
    margin: 25px 0;
}
.login .register p b{
color: #ff0000;
}
.login .register p >input[type="checkbox"]{
    width: 15px;

}
.login .register p >input[type="submit"]{
    width: 310px;
    height: 35px;
    background: linear-gradient(#fff, #ccc);
    color: #606060;
    font-weight: bold;
}
.login .register p:last-of-type{
  text-align: center;
}
.log_register .logo{
    padding-left: 270px;
}
/*登录注册页结束*/




